@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
    --color-primary: hsl(222, 100%, 61%);
    --color-dark: hsl(244, 16%, 17%);
    --color-light-dark: hsl(244, 17%, 22%);
    --color-white: hsl(0, 0%, 99%);
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:not(i) {
    font-family: 'Nunito', sans-serif;
}

body {
    color: #fff;
}

a {
    text-decoration: none;
}

p {
    color: #646187;
}

ul {
    list-style-type: none;
}

input {
    outline: none;
    border: none;
}

label {
    margin-bottom: 0.2rem;
}

input, label, p {
    font-size: 1rem;
    font-weight: 600;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.logo span {
    margin-left: 12px;
    font-weight: 700;
    font-size: 17px;
    color: #E1F1FF;
}

#navbar {
    position: fixed;
    padding: 1rem;
    height: 90px;
    width: 100%;
}

#navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .container, #navbar .logo {
    height: 100%;
}

#navbar .search {
    width: 50%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
}

#navbar .search i {
    color: #646187;
    font-size: 1.3rem;
    margin-right: 1rem;
}

#navbar .search input {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #FCFCFC;
    background-color: transparent;
}

#navbar ul {
    display: flex;
}

#navbar ul, #navbar a {
    height: 100%;
}

#navbar ul li:first-child {
    margin-right: 1.5rem;
}

#navbar ul li a {
    display: flex;
    align-items: center;
}

/* Register Form */
main.flex-columns {
    height: 100vh;
}

/* Register Form - Images */
.flex-columns .column .space {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    margin: 1rem 0 0 1rem;
}

.flex-columns .column .logo img {
    width: 100%;
    height: 100%;
}

/* Register Form - 2° Column */
.flex-columns .column:last-child {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.flex-columns .column form {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.flex-columns .column form h1 {
    font-size: 2.5rem;
}

.flex-columns .column form p {
    margin-bottom: 3rem;
}

.flex-columns .column form label {
    text-align: left;
}

.flex-columns .column form > div {
    display: flex;
}

.flex-columns .column form > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-columns .column form > div > div:first-child {
    margin-right: 1rem;
}

.flex-columns .column form input {
    margin-bottom: 1.2rem;
}

.flex-columns .column form input.btn {
    height: 45px;
}

::placeholder {
    color: #646187;
}