@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --border-radius: 12px;

    /* Colors */
    --color-primary: 222 100% 61%;
    --color-dark: 244 16% 17%;
    --color-text-white: 0 0% 99%;
    --color-text-dark: 245 16% 45%;
    --color-success: 137 81% 63%;
    --color-danger: 360 82% 63%;

    /* Color Variations */
    --color-primary-darker: 222 100% 55%;
    --color-primary-darkest: 222 100% 50%;
    --color-primary-lighter: 222 100% 65%;
    --color-primary-lightest: 222 100% 70%;

    --color-dark-lighter: 244 16% 22%;
    --color-dark-lightest: 244 16% 28%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:not(i) {
    font-family: "Nunito", sans-serif;
}

body {
    color: hsl(var(--color-text-white));
}

a {
    text-decoration: none;
    color: hsl(var(--color-primary));
}

p, pre {
    line-height: 1.5rem;
}

h1 {
    font-size: 2.2rem;
}

ul {
    list-style-type: none;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background-color: hsl(var(--color-dark-lightest));
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    overflow: hidden;
    min-height: 200px !important;
}

label {
    margin-bottom: 0.2rem;
}

input,
label,
textarea {
    font-size: 1rem;
    font-weight: 600;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.logo span {
    margin-left: 12px;
    font-weight: 700;
    font-size: 1.1rem;
    color: hsl(208, 100%, 94%);
}

.logo:hover {
    filter: brightness(110%);
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    padding: 1rem;
    height: 90px;
    width: 100%;
    z-index: 1000;
}

#navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .container,
#navbar .logo {
    height: 100%;
}

/* Navbar - Search */
#navbar .search {
    width: 50%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
}

#navbar .search i {
    font-size: 1.3rem;
    margin-right: 1rem;
    color: hsl(var(--color-text-dark));
}

#navbar .search input {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    color: hsl(var(--color-text-white));
}

/* Navbar - Log in/Sign up Buttons */
#navbar .navbar-links {
    display: flex;
    align-items: center;
    height: 100%;
}

#navbar .navbar-links > .btn-primary {
    height: 100%;
    display: flex;
    align-items: center;
}

#navbar .navbar-links > a:first-child {
    margin-right: 1rem;
}

/* Navbar - Dropdown */
#navbar .dropdown .dropdown-toggle {
    font-size: 2rem;
}

#navbar .dropdown input.dropdown-item:hover {
    color: var(--color-text-white) !important;
}

/* Auth */
#auth {
    display: flex;
    height: 100vh;
}

/* Auth - Aside and Images */
#auth > aside {
    flex: 1.2;
}

#auth > aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#auth > aside .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 7%;
    margin: 1rem 0 0 1rem;
}

/* Auth - Content */
#auth > .content {
    flex: 2;
    margin: auto 0;
    padding: 2rem 2rem;
}

/* Auth - Content - Top/Right Link */
#auth > .content > p {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem 2rem 0 0;
}

#auth > .content > p > a:hover {
    transition: 100ms;
    color: hsl(var(--color-primary-lighter));
}

/* Auth - Content - Form */
#auth > .content > form {
    max-width: 500px;
    margin: 0 auto;
}

#auth > .content > form > h1,
#auth > .content > form > p {
    text-align: center;
}

#auth > .content > form > p {
    margin-bottom: 3rem;
    color: hsl(var(--color-text-dark));
}

main.container {
    margin-top: 110px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

/* Post */
.post {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
}

.post-summary {
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 200ms;
}

.post-summary:hover {
    border: 1px solid hsl(var(--color-dark-lightest));
}

.post aside {
    margin-right: 1.5rem;
}

.post aside form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post aside .votes {
    font-weight: 600;
    margin: 0.2rem 0;
}

/* Post - Arrows */
.post aside .btn {
    font-size: 1.8rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.post aside .btn,
.post aside .fas {
    transition: transform 200ms ease-out, color 200ms ease-out;
}

/* Post - Arrows' Hover Animation */
.post aside .btn:hover .fa-arrow-up {
    transform: translateY(-8%);
    color: hsl(var(--color-primary)) !important;
}

.post aside .btn:hover .fa-arrow-down {
    transform: translateY(8%);
    color: hsl(var(--color-danger)) !important;
}

/* Post - Main */
.post main header {
    display: flex;
    justify-content: space-between;
}

.post main header .actions {
    display: flex;
}

.post main header .actions .btn {
    height: 100%;
    margin-left: 0.5rem;
    border-radius: 8px;
}

.post main header .actions a:hover {
    background-color: hsl(var(--color-primary));
}

.post main header .actions input:hover {
    background-color: hsl(var(--color-danger));
}

.post main .author {
    display: flex;
    align-items: center;
}

.post main .author .author-picture {
    height: 30px;
    width: auto;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.post main .author .author-name {
    transition: color 200ms;    
}

.post main .author .author-name:hover {
    color: hsl(var(--color-primary-lightest));
}

.post main > hr {
    margin: 1rem 0;
}

/* Post - Main - Content */
.post main .content pre {
    white-space: pre-wrap;
    color: hsl(0, 0%, 85%);
}

.post main .content h2 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

.post main .content p {
    position: relative;
}

.post main .content p,
.post main .content pre {
    font-family: 'Inter', sans-serif;
}

.post footer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.post footer > i {
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

.post footer > span {
    font-weight: 600;
}

#card {
    width: 70%;
    text-align: left;
}

#card > hr {
    margin: 5px 0 30px 0;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown, .dropdown-toggle {
    height: 100%;
}

.dropdown .dropdown-menu {
    top: 3.3rem;
    position: absolute;
    display: none;
    width: 200px;
    padding: 0.4rem;
    transform: translateY(-25%);
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px 2px hsla(0, 0%, 0%, 0.1);
    animation: slide-down 200ms ease-out forwards;
}

.dropdown .dropdown-menu * {
    width: 100%;
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-item + * {
    margin-top: 0.3rem;
}

.dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    font-weight: 600;
    padding: 0.4rem 0.8rem;
    color: hsl(var(--color-text-dark));
    border-radius: var(--border-radius);
    background-color: hsl(var(--color-dark));
    transition: color 200ms, background-color 200ms;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: hsl(var(--color-text-white));
    background-color: hsl(var(--color-dark-lighter));
}

::placeholder {
    color: hsl(var(--color-text-dark));
}

a.btn {
    display: flex;
    align-items: center;
}

.text-opacity::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(transparent 75%, hsl(var(--color-dark-lighter)));
}

.group-field {
    display: flex;
    margin: 0 -1rem;
}

.group-field > .field {
    padding: 0 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.is-invalid {
    z-index: 2;
    border: 1px solid hsl(var(--color-danger)) !important;
}

.error-message {
    z-index: 1;
    margin-top: 4px;
    transform: translateY(-100%);
    color: hsl(var(--color-danger));
    animation: slide-down 200ms ease-out forwards;
}

.flash-message {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin: 0 2rem 2rem;
    padding: 1.2rem 3rem 1.2rem 1rem;
    min-width: 250px;
    border-radius: 15px;
    background-color: hsl(var(--color-dark-lighter));
    box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.1);
    animation: slide-up 300ms ease-out, slide-down-out 300ms ease-out 3700ms forwards;
}

.flash-message > i {
    font-size: 20px;
    border-radius: 50%;
    margin-right: 1rem; 
}

.flash-message.error > i {
    color: hsl(var(--color-danger));
    box-shadow: 0 0px 10px 4px hsl(var(--color-danger) / 0.3);
}

.flash-message.success > i {
    color: hsl(var(--color-success));
    box-shadow: 0 0px 10px 4px hsl(var(--color-success) / 0.3);
}

.flash-message > div > p {
    color: hsl(0, 0%, 85%);
}

.attribution {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0 1rem 1rem;
}

.attribution a {
    color: hsl(var(--color-primary));
    min-height: 0;
}

@keyframes slide-down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slide-down-out {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(10%);
    }
}
