/* Background colors */
.bg-primary, .btn-primary {
    background-color: #3772FF;
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-light-dark {
    background-color: var(--color-light-dark);
}

.bg-success {
    background-color: #53ED7F;
}

/* Shadows */
.b-shadow {
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.15);
}

.r-shadow {
    z-index: 1;
    box-shadow: 5px 0 10px hsla(0, 0%, 0%, 0.15);
}

/* Input */
.text-input {
    display: block;
    width: 100%;
    min-height: 45px;
    transition: 200ms;
    padding: 0 15px;
    font-weight: 600;
    border: 1px solid transparent;
    color: var(--color-white);
    border-radius: var(--border-radius);
    background-color: var(--color-light-dark);
}

.text-input:hover {
    border: 1px solid hsl(244, 17%, 28%);
    box-shadow: 0 0 0 4px hsla(244, 17%, 28%, 0.2);
}

.text-input:focus {
    border: 1px solid hsl(222, 100%, 55%);
    box-shadow: 0 0 0 4px hsla(222, 100%, 55%, 0.2);
}

.text-input.is-invalid:hover {
    box-shadow: 0 0 0 4px hsla(360, 82%, 63%, 0.1);
}

.text-input.is-invalid:focus {
    box-shadow: 0 0 0 4px hsla(360, 82%, 63%, 0.2);
}

.text-input:active, .text-input.is-invalid:active {
    box-shadow: none;
    border: 1px solid transparent;
}

/* Buttons */
.btn {
    display: inline-block;
    cursor: pointer;
    color: #FCFCFC;
    transition: 200ms;
    min-height: 45px;
}

.btn-transparent {
    background-color: transparent;
}

.btn-primary {
    padding: 0 1.5rem;  
    border-radius: var(--border-radius);
}

.text-input-hover-animation {
    border: 1px solid hsl(244, 17%, 28%);
    box-shadow: 0 0 0 4px hsla(244, 17%, 28%, 0.2);
}

.text-input-focus-animation {
    border: 1px solid hsl(222, 100%, 55%);
    box-shadow: 0 0 0 4px hsla(222, 100%, 55%, 0.2);
}

/* Hover/Active/Focus animations */
.btn-primary:hover {
    background-color: hsl(222, 100%, 55%);
}

.btn-primary:active {
    background-color: hsl(222, 100%, 48%);
}

.btn-transparent:hover {
    color: hsl(222, 100%, 55%);
}

.btn-transparent:active {
    color: hsl(222, 100%, 48%);
}